{
  "name": "@solidity-js/{{ packageName }}",
  "description": "Smart contract ABIs for {{ packageName }} contracts",
  "version": "{{ packageVersion }}",
  "main": "./index.js",
  "author": "SolidityJS <https://github.com/solidity-js>",
  "license": "MIT",
  "keywords": [
    "solidity", "abi", "smart contract", "{{ packageName }}"
  ],
  "files": [
    "index.js",
    "README.md"
  ]
}
